@charset "UTF-8";
.w-e-menu{
  z-index: 2 !important;
}
.w-e-text-container{
  z-index: 1 !important;
}
html,body{height:100%}
body{background-color:#F2EDF3;}
.head-brand{height:70px;text-align: center;padding-top:10px;}
.head-form{margin-left:20px;}
.head-list{line-height:10px;height:70px;padding-top:20px;}
.head-list li{margin-right:30px;}
.head-list a{color:#9C9FB1;}
.menu1{border:none;box-shadow: 0px 3px 21px 0px rgba(0, 0, 0, 0.2);padding:0;min-width:130px;}
	.menu1-item{padding:15px 20px;}
.menu2{border:none;box-shadow: 0px 3px 21px 0px rgba(0, 0, 0, 0.2);padding:0;min-width: 220px;}
	.menu2-head{padding:1rem;margin-bottom:0px;font-weight:600;}
	.menu2-pic{width:35px;float:left;margin-right:10px;height:35px;}
	.menu2-text{float:left;color:black;line-height: 20px;font-size:14px;}
	.menu2-info{color:black;text-align: center;padding:20px;font-size:14px;}
.divider{margin:0;padding:0;}
.select{width:80px!important;height:28px!important;font-size:11px!important;float:left;margin-right:10px;}
.text{width:160px!important;height:28px!important;font-size:11px!important;}
#proSchool{top:520px!important;background-color:white;}

/*主页*/
.home-body{margin:0 auto;min-height:calc(100vh - 86px);}
	.home-main{background-color:white;width:100%;padding:40px 30px;margin-right:30px;}
		.home-main-course{width:100%;margin-bottom:30px;}
		.home-main h5{font-size:24px;font-weight:510;color:#989898;margin-bottom:30px;}
	.home-info{background-color:white;width:100%;padding:0 20px;padding-bottom:30px;}
	.home-info h5{font-size:27px;font-weight:520;color:#FFA807;margin-bottom:30px;text-align: left;}
		.about-me{padding:40px 10px;text-align: center;}
		.me-pic{margin-bottom: 13px;}
		.me-name{background-color:black;color:white;width:70px;margin:0 auto;font-size:13px;float:left;margin-right:5px;}
		.me-sign{font-size:12px;font-weight:300;}
		.me-info{margin-bottom: 24px!important;width:105px;margin:auto;}
		.other-me{padding:40px 10px;padding-top:0;}
		.me-table{font-size:15px;}
			.me-table tr td:first-of-type{width:60px;vertical-align: text-top;}
			.me-table tr td:nth-of-type(2){font-weight: 300;}
			.me-table ul{margin:0;padding: 0;list-style-type: none;}
			.me-table a{color:black;text-decoration: none;font-weight:300;}
			.me-table a:hover{color:#007BFF;text-decoration: none;font-weight:300;}
			.best-level{font-size:12px;color:#9EAEC0;padding:0px 2px;border:1px #9EAEC0 solid;float:left;}

.page-body{padding-top:86px;padding-left:0 !important;}
	.nav-left{width:260px;min-height:calc(100vh - 86px);background-color:white;float:left;}
		.nav-left li{width:100%;padding:10px 15px;}
		.nav-left li:hover{background-color:#EDEDED;}
		.nav-left a{color:#90908E!important;}
		.nav-left a:hover{color:#838383!important;}
		.person-info{font-size:16px;font-weight:bold;float:left;}
		.icon{color:#FFA000;float:right;padding-top:4px;}

.page-content{width:calc(100% - 260px);float:left;padding:40px 60px;padding-bottom:70px;}
	.info-table{width:980px;margin:0 auto;box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);}
		.info-table-head{width:100%;padding-left:20px;height:70px;font-size:22px;font-weight:500;background:linear-gradient(#fff,#f7f7f7);line-height: 70px;color:#666;border-bottom: solid 1px #e5e5e5;}
		.info-content{width:100%;}
			.info-menu{width:200px;float:left;text-align: center;}
				.info-menu a{color:black;text-decoration: none;}
				.info-menu a:hover{color:black;text-decoration: none;}
				.info-menu-title{color:#B7B7B7;height: 60px;line-height: 60px;font-size: 14px;border-bottom: solid 1px #e5e5e5;border-right: 1px solid #e5e5e5;position: relative;background:linear-gradient(#fff,#f7f7f7);}
				.info-menu-title-active{border-left:5px #2E82FF solid;color:#7CB0FE;}
				.info-item{line-height: 50px;height: 50px;font-size: 13px;width: 198px;list-style-type: none;border-bottom: 1px solid #e5e5e5;background-color: #F7F7F7;}
				.info-item-active{background-color:white;border-right:none;}
			.info-form{width:calc(100% - 200px);min-height:500px;background-color: white;float:left;padding:20px 20px;}
				.info-form-title{color:#B4B4B4;padding:5px 10px;border-bottom:1px #F2F2F2 solid;}
				.info-form-pic{width:100px;height:100px;margin-left:80px;margin-top:30px;}
			.settings-form{font-size:14px;color:#5D5D5D;}
			.settings-form th{text-align: right;font-weight: normal;padding: 14px 10px 0 0;width: 90px;}
			.settings-form td{padding-top:20px;line-height:30px;}
			.submit{font-size:13px;margin-top:30px;margin-left:93px;}
			
.add-content{width:980px;margin:0px auto;box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);background-color: white;padding:40px 35px;}
	.add-title{border-bottom: 1px #E5E5E5 solid;padding-bottom:10px;}
	.add-text{font-size:15px;}
	
.course{width:250px;height:130px;float:left;margin-left:30px;border:1px #D1D5DA solid;margin-bottom:20px;padding:20px 20px;}
	.course-title{margin-bottom:20px;}
	.course-title a{text-decoration: none;font-weight:520;font-size: 18px;}
	.course-content{color:#767979;font-size: 13px;float: left;line-height: 14px;}
	.course-body{margin-bottom:10px;margin-left:20px;}
	.red{width:13px;height:13px;background-color: #E34C26;float: left;margin-right:5px;}
	.yellow{width:13px;height:13px;background-color: #F1E05A;float: left;margin-right:5px;}
	
.note-list{wdith:810px;margin:0px auto;padding:20px 30px;}
	.note-list ul{text-decoration: none;list-style-type: none;width:100%;margin:0;padding:0;border:1px #E1E4E8 solid;}
	.note-list li{padding:10px 25px;width:100%;border-bottom:1px #E1E4E8 solid;}
	.note-list li:hover{background-color: #EDEDED;}
	.note-title{font-size:16px;font-weight:520;text-decoration: none;color:black;}
	.note-title:hover{text-decoration: none;font-size:16px;font-weight:520;color:#0366D6;}
	.note-mark{float:right;color:#FFA000!important;font-size:14px;}
	.note-icon{float:left;padding-top:5px;margin-right:5px;}
	.note-icon2{float:left;padding-top:5px;margin-right:5px;color:#64E586;}
	.note-mark-list{margin-right:10px;float:left;}
	.note-time{color:#586069;font-size: 12px;}
	.note-time a{color:#586069;font-size: 12px;}
	.note-time a:hover{color:#0366D6;font-size: 12px;text-decoration: none;}
	.note-icon-ban{color:#F27689;margin-right:3px;}
	.note-icon-seen{color:#28A745;margin-right:3px;}
	.note-search-select{width:95px;font-size:12px;float:left;height:34.6px!important;margin-right:5px;}
	.note-search{background: url(/studentFileManagement/pic/input-icon.png) no-repeat left 5px top 2px;padding-left:40px!important;width:200px;font-size: 14px;float:left;margin-right:5px;}
	.note-search-submit{font-size:13px;height:34px!important;}

.folders{width:70%;}
	.breadcrumb{font-size: 14px;}
	.folders-a{color:black;}
	.folders-a:hover{color:#0366D6;}
	.folder{width:120px;text-align: center;float: left;margin-right:30px;margin-bottom:30px;}	
		.folder-icon{font-size:90px;color:#F4D270;}
		.folder-name{font-weight: 550;padding-right:10px;font-size: 14px;}
.add-folder{position: absolute;width:300px;border:1px #8B8B8B solid;top:10px;left:260px;z-index:10000;background-color:white;padding:25px 20px;display: none;}
.add-document{float:right;font-size: 13px;margin:8px 0;}